body,
.font-type-body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-type-header {
  font-family: "Montserrat", sans-serif;
}

.grayscale {
  transition: all 0.3s ease-in-out;
  filter: gray;
  -webkit-filter: grayscale(1);

  &:hover {
    filter: none;
    -webkit-filter: none;
  }
}

.bg-pattern {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.bg-slope-bottom {
  position: relative;
  &::after {
    background: inherit;
    top: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(4deg);
    transform-origin: 0%;
    z-index: -1;
  }
}
