body, .font-type-body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-type-header {
  font-family: "Montserrat", sans-serif;
}

.grayscale {
  transition: all .3s ease-in-out;
  filter: gray;
  -webkit-filter: grayscale(1);

  &:hover {
    filter: none;
    -webkit-filter: none;
  }
}